+popup('person')(class="_person")
  .popup__dynamic-content.js-popup__dynamic-content
  
  +page-preloader()
  
  // Должно лежать в верстке. Через js показываем, если ничего не пришло или ошибка
  +empty-results-common({
    title: 'Ничего не найдено',
  })
  


